.io {
  text-align:center;
  color:#00b140;
}

input {
  -moz-appearance: none;
  outline: none;
  width: 620px;
  border: 2px solid white;
  color: #00b140;
  background-color: black;
  font-size:20px;
}

.inputBlock {
  margin-bottom: 20px;
  margin-top: 15px;
}

textarea {
  -moz-appearance: none;
  outline: none;
  resize: none;
  height: 400px;
  width: 617px;
  background-color: black;
  border: 2px solid white;
  color: #00b140;
  font-size:20px;
}

.outputBlock {
  margin-left: 37px;
  margin-bottom: 15px;
}

.clear {
  margin-top: 200px;
  margin-left: 10px;
}

.delete {
  margin-top: 50px;
  margin-left: 10px;
}

.ioButtons {
  -moz-appearance: none;
  outline: none;
  background-color: #00b140;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 5px 15px;
  font-size: 20px;
  width: 80px;
}

.ioButtons:active {
  -moz-appearance: none;
  outline: none;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 5px 15px;
  font-size: 20px;
}
