<table class="table">
  <thead>
    <th>
      <div class="tab"><button>IMS</button></div>
    </th>
    <th>
      <div class="tab"><button>CICS</button></div>
    </th>
    <th>
      <div class="tab"><button>MQ</button></div>
    </th>
    <th>
      <div class="tab"><button>DB2</button></div>
    </th>
    <th>
      <div class="tab"><button>FTP</button></div>
    </th>
  </thead>
</table>

<p>Input: <input type="text" name="input" [(ngModel)]="input"> <button (click)="enterPressed($event)">enter</button></p>
<p>Output:{{input}}</p>
